<div class="container">
  <h1 *ngIf="username">Welcome, {{ username }}!</h1>


    <div class="cards">
      <!-- Net Worth Section -->
      <div class="card">
        <h2>Net Worth</h2>
        <p class="amount">${{ totalNetWorth | number:'1.2-2' }}</p>
        <app-pie-chart [netWorth]="userData?.assets ?? []" (netWorthUpdated)="refreshNetWorth()"></app-pie-chart>
      </div>

      <!-- Budget Section -->
      <div class="card">
        <h2>Budget</h2>
        <app-budget [goals]="userData?.goals ?? []" (goalsUpdated)="refreshUserData()"></app-budget>
      </div>
    </div>

    <!-- Cash Flow Section -->
    <div class="card full-width">
      <h2>Cash Flow</h2>
      <p>Your income and expenses over time</p>
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
