.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  align-items:center;
  justify-items: center;
  position:relative;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fcfcfc;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  flex: 1 1 400px;
  max-width: 500px;
  background-color: #111111;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wide {
  background-color: #111111;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-wide app-budget {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.card h2 {
  margin: 0 0 10px;
  color: #fcfcfc;
}

.card .amount {
  font-size: 24px;
  font-weight: bold;
  color: #2ecc71;
  margin: 0 0 20px;
}

.card-wide .amount {
  font-size: 24px;
  font-weight: bold;
  color: #2ecc71;
  margin: 0 0 20px;
  display:inline-block;
}

.card.full-width {
  align-self: center;
  min-width: 1500px;
  max-width: 1500px;
}

.budget-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.budget-section app-budget {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}




@media (max-width: 1000px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .card {
    padding: 15px;
  }
  h1 {
    font-size: 24px;
  }
}


.logout-button {
  position:absolute;
  right: 30px;
  top: 0;
}

.account-button {
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
  font-size: 18px;
  height: 56px;
  padding: 0 24px;
  text-transform: uppercase;
  border-radius: 28px;
  transition: all 0.3s ease-in-out;

}

.account-button span {
  z-index: 1;
}

/* Hover Effect for Buttons */
.account-button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--dark);
  border-color: var(--primary);
}

/* Active state animation for buttons */
.account-button:active {
  transform: scale(0.98);
}

:root {
  --dark-secondary: #2d2d2d;
  --dark: #1c1c1c;
  --primary: #3a8dff;
  --secondary: #ff6347;
  --primary-light: #a2c8ff;
  --white: #ffffff;
  --dark-background: #121212;
  --light-background: #f4f4f4;
  --light: #ffffff;
  --dark-secondary-hover: #444444;
}
