<div class="container">
  <h1 *ngIf="username">Welcome, {{ username }}!</h1>


    <div class="cards">
      <!-- Net Worth Section -->
      <div class="card">
        <h2>Net Worth</h2>
        <p class="amount">$52,000.00</p>
        <app-pie-chart></app-pie-chart>
      </div>

      <!-- Budget Section -->
      <div class="card">
        <h2>Budget</h2>
        <p>State of your goals and budget</p>
        <div class="budget-item">
          <span>New Car</span>
          <progress value="5000" max="50000"></progress>
          <span>$5,000.01 / $50,000.00</span>
        </div>
        <div class="budget-item">
          <span>Vacation</span>
          <progress value="1002" max="3000"></progress>
          <span>€1,002.15 / €3,000.00</span>
        </div>
      </div>
    </div>

    <!-- Cash Flow Section -->
    <div class="card full-width">
      <h2>Cash Flow</h2>
      <p>Your income and expenses over time</p>
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
